<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <title>Thermo Tasker</title>
    <link rel="stylesheet" th:href="@{/css/main.css}" />
</head>

<body>
    <div class="container">
        <h1>Thermo Tasker</h1>
        <div class="homeButtons">
            <a class="homeButton" th:href="@{/new}">Create a task</a>
            <a class="homeButton" th:href="@{/tasks}">View printed and future tasks</a>
        </div>
    </div>
</body>

</html>
